#about{
  main{
    h2,form{
      text-align: center;
    }
    form{
      text-align: center;
      input{
          text-transform: capitalize;
          border: none;
          border-radius: .3em;
          padding: .6em;
          margin: .3em;
          font-size: .9em;
          font-weight: 300;
          line-height: 1.3em;
      }
      button{
          border: none;
          border-radius: .3em;
          padding: .6em;
          margin: 1em;
          background-color: lightblue;
          text-transform: capitalize;
          font-size: .9em;
          font-weight: 300;
          line-height: 1.3em;
          cursor: pointer;
      }
    }
    #cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        div{
           min-width: 18em;
           max-width: 21em;
           padding: .9em;
           margin: .9em;
           background-color: white;
           box-shadow: 0 20px 27px -20px #000;
           border-radius: 6px;
           transform-origin: bottom;
           transform: rotateX(9deg);
           span{
               display: block;
               padding: .3em;
               margin: .3em;
               border-bottom: 0.1em solid lightblue;
        }
      }
    }
  }
}
