body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(45deg, #ADD8E6, #F0FFFF, #F0F8FF, #E0FFFF, #e1e1e1, #E6E6FA, #F5F5F5);
  background-size: 400%;
  min-height: 100vh; }
  body #header nav {
    display: flex;
    background-color: #f8f9fa; }
    @media only screen and (max-width: 990px) {
      body #header nav {
        display: block; } }
    body #header nav a, body #header nav ul li a {
      white-space: nowrap;
      padding: 1em .8em 0 2em;
      text-decoration: none;
      color: #696969;
      outline: none;
      line-height: 1.6em;
      text-align: center; }
    body #header nav ul li {
      list-style: none;
      float: left; }
      body #header nav ul li a {
        padding: .8em; }
    body #header nav span, body #header nav #blog main article > div a, #blog main article > div body #header nav a {
      margin: 6px;
      width: 46px;
      height: 46px;
      border-radius: 50%;
      background-image: url("images/thumbnails/une_48x48.jpg");
      background-size: cover;
      box-shadow: 3px 15px 18px -9px #333; }
    body #header nav form {
      display: inline-block;
      background-color: transparent; }
      body #header nav form input, body #header nav form button, body #header nav form select, body #header nav #contact main form textarea, #contact main body #header nav form textarea {
        display: inline-block;
        background-color: #fff;
        border-radius: 4px;
        line-height: 1.6em;
        padding: .4em;
        margin: .6em 0;
        font-size: 16px;
        border: none;
        color: #222;
        box-shadow: 0px 12px 18px -8px #bababa;
        -webkit-transition: box-shadow 800ms,background-color 800ms;
        -moz-transition: box-shadow 800ms,background-color 800ms;
        transition: transform 800ms,box-shadow 800ms,background-color 800ms;
        transform-origin: left;
        transform: rotateY(-8deg); }
        @media only screen and (max-width: 520px) {
          body #header nav form input, body #header nav form button, body #header nav form select, body #header nav #contact main form textarea, #contact main body #header nav form textarea {
            width: 100%; } }
      body #header nav form input[name="button"]:first-child, body #header nav form button[name="button"]:first-child, body #header nav form select[name="button"]:first-child, body #header nav #contact main form textarea[name="button"]:first-child, #contact main body #header nav form textarea[name="button"]:first-child {
        background-color: red; }
      body #header nav form input[type="submit"]:hover, body #header nav form button[type="submit"]:hover, body #header nav form select[type="submit"]:hover, body #header nav #contact main form textarea[type="submit"]:hover, #contact main body #header nav form textarea[type="submit"]:hover {
        background-color: tomato;
        cursor: pointer; }
      body #header nav form button:hover {
        background-color: tomato;
        cursor: pointer; }
  body #header > form:nth-of-type(1) {
    display: none;
    position: absolute;
    right: 0;
    z-index: 200;
    background-color: #fff; }
    body #header > form:nth-of-type(1) input, body #header > form:nth-of-type(1) nav form button, body #header > form:nth-of-type(1) form select, body #contact main #header > form:nth-of-type(1) textarea, #contact main body #header > form:nth-of-type(1) textarea {
      display: block;
      border-radius: 4px;
      line-height: 1.6em;
      padding: .4em;
      margin: .6em;
      background-color: rgba(0, 0, 0, 0.1);
      font-size: 16px;
      border: none;
      color: #222; }
  body #header form {
    display: inline-block; }
    body #header form input, body #header nav form button, body #header form select, body #header #contact main form textarea, #contact main body #header form textarea {
      border-radius: 4px;
      line-height: 1.6em;
      padding: .4em;
      background-color: rgba(0, 0, 0, 0.1);
      font-size: 16px;
      border: none;
      color: #222; }
    body #header form select {
      padding: 0.6em 0;
      cursor: pointer;
      text-transform: capitalize; }
  body #header output {
    color: #222222; }
@keyframes background-animation {
  0% {
    background-position: left; }
  100% {
    background-position: right; } }
#blog {
  display: grid;
  grid-template-columns: 20% 60% 20%; }
  @media only screen and (max-width: 990px) {
    #blog {
      display: block; } }
  #blog main article > div {
    color: #696969;
    box-shadow: 0 20px 27px -20px #000;
    padding: 2.9em;
    margin: .9em; }
    #blog main article > div span, #blog main article > div a, #blog main article > div body #header nav ul li a, body #header nav ul li #blog main article > div a {
      text-transform: uppercase;
      color: #696969;
      float: right;
      padding: .4em .6em;
      border: 2px solid tomato;
      border-radius: 4px;
      outline: none; }
    #blog main article > div h2 {
      text-align: center;
      line-height: 2.8em; }
    #blog main article > div p {
      padding: .2em;
      line-height: 1.6em; }
    #blog main article > div time {
      margin: .8em; }
    #blog main article > div a, #blog main article > div body #header nav ul li a, body #header nav ul li #blog main article > div a {
      text-transform: capitalize;
      text-decoration: none;
      margin: 1.3em;
      font-size: 1em; }
  #blog main article form input, #blog main article body #header nav form button, body #header nav #blog main article form button, #blog main article body #header form select, body #header #blog main article form select, #blog #contact main article form textarea, #contact #blog main article form textarea {
    border: none;
    outline: none;
    text-transform: capitalize;
    padding: .6em;
    font-size: 1em; }
  #blog main article form button {
    border: 3px solid lightblue;
    border-radius: 3px;
    background-color: transparent;
    text-transform: capitalize;
    cursor: pointer;
    color: #696969;
    padding: .4em .6em;
    outline: none;
    font-size: 1em; }

/*styling index page*/
#index {
  width: 73%;
  margin: 0 auto; }
  #index div h2 {
    font-size: 1.3em;
    text-align: center;
    border: 3px solid #66CDAA;
    padding: 9px 0; }
  #index div div {
    border: 3px solid #66CDAA;
    margin: 9px 0; }
  #index div:nth-child(1) div:nth-child(3) {
    padding: 9px;
    text-align: center;
    font-size: 3em; }
  #index div div:nth-child(2) {
    display: flex;
    justify-content: space-around; }
  #index div div:nth-child(2) button {
    cursor: pointer;
    font-size: 18px;
    color: white;
    background-color: #66CDAA;
    border-radius: 6px;
    border-color: green;
    border: 3px solid transparent;
    line-height: 2em;
    margin: 9px 0;
    box-shadow: 0 6px 9px -6px #333333; }
  #index div:nth-child(2) div:nth-child(3) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 9px 0;
    perspective: 900px; }
  #index div:nth-child(2) div:nth-child(3) img {
    padding: 9px;
    box-shadow: 0 20px 27px -20px #000; }
  #index div:nth-child(2) div:nth-child(3) img:hover {
    cursor: pointer;
    transform-origin: bottom;
    transform: rotateX(18deg);
    transition: transform 600ms; }
  #index > div:nth-child(3) div img {
    margin: 18px 0;
    cursor: pointer; }
  #index > div:nth-child(3) div img:hover {
    box-shadow: 0 20px 27px -20px #000; }
  #index div:nth-child(4) div:nth-child(2) form {
    padding: 22px 0; }
  #index div:nth-child(4) div:nth-child(3) {
    padding: 1em; }

#about main h2, #about main form {
  text-align: center; }
#about main form {
  text-align: center; }
  #about main form input, #about main body #header nav form button, body #header nav #about main form button, #about main body #header form select, body #header #about main form select, #about #contact main form textarea, #contact #about main form textarea {
    text-transform: capitalize;
    border: none;
    border-radius: .3em;
    padding: .6em;
    margin: .3em;
    font-size: .9em;
    font-weight: 300;
    line-height: 1.3em; }
  #about main form button {
    border: none;
    border-radius: .3em;
    padding: .6em;
    margin: 1em;
    background-color: lightblue;
    text-transform: capitalize;
    font-size: .9em;
    font-weight: 300;
    line-height: 1.3em;
    cursor: pointer; }
#about main #cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  #about main #cards div {
    min-width: 18em;
    max-width: 21em;
    padding: .9em;
    margin: .9em;
    background-color: white;
    box-shadow: 0 20px 27px -20px #000;
    border-radius: 6px;
    transform-origin: bottom;
    transform: rotateX(9deg); }
    #about main #cards div span, #about #blog main #cards article > div a, #blog #about main #cards article > div a {
      display: block;
      padding: .3em;
      margin: .3em;
      border-bottom: 0.1em solid lightblue; }

#contact main {
  display: grid;
  justify-content: space-around;
  perspective: 900px; }
  #contact main h1, #contact main h2 {
    color: #2F4F4F;
    font-size: 3em;
    font-family: monospace;
    margin-left: .1em; }
  #contact main h2 {
    font-size: 1.6em;
    margin: -.9em 0 1.3em .3em; }
  #contact main form {
    display: block;
    padding: 1rem;
    margin: 1rem;
    border-radius: 6px;
    box-shadow: 0 20px 27px -20px;
    animation-duration: 3s; }
    #contact main form label {
      padding: 9px;
      text-transform: uppercase;
      font-size: 100%;
      background: transparent; }
    #contact main form input, #contact main body #header nav form button, body #header nav #contact main form button, #contact main body #header form select, body #header #contact main form select, #contact main form textarea {
      outline: none;
      width: 90%;
      border: none;
      padding: 9px;
      text-transform: capitalize;
      font-size: .9em;
      font-family: inherit;
      border-radius: 3px;
      color: #000;
      margin: 9px; }
    #contact main form input[type="submit"], #contact main body #header nav form button[type="submit"], body #header nav #contact main form button[type="submit"], #contact main body #header form select[type="submit"], body #header #contact main form select[type="submit"], #contact main form textarea[type="submit"] {
      background-color: white;
      box-shadow: 2px 2px 8px -2px #333;
      cursor: pointer;
      transition: all 800ms; }
    #contact main form input[type="submit"]:hover, #contact main body #header nav form button[type="submit"]:hover, body #header nav #contact main form button[type="submit"]:hover, #contact main body #header form select[type="submit"]:hover, body #header #contact main form select[type="submit"]:hover, #contact main form textarea[type="submit"]:hover {
      background-color: tomato;
      color: white; }
@keyframes fadeOut {
  0% {
    transform: rotateX(0deg) translateY(0px) scale(1); }
  9% {
    transform: rotateX(60deg) translateY(0px) scale(1); } }
/*styling animate page*/
#animate > div:nth-of-type(1) {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: end;
  padding: 3em;
  grid-gap: 3em; }
  @media only screen and (max-width: 990px) {
    #animate > div:nth-of-type(1) {
      grid-template-columns: 1fr; } }
  #animate > div:nth-of-type(1) div {
    display: block;
    padding: 9px;
    max-width: 90%;
    perspective: 900px; }
    #animate > div:nth-of-type(1) div div {
      box-shadow: 0 20px 27px -20px #000;
      background-color: white;
      border-radius: 6px;
      transform-origin: bottom;
      transform: rotateX(9deg);
      transition: transform 400ms; }
      #animate > div:nth-of-type(1) div div span, #animate > div:nth-of-type(1) #blog main article > div div a, #blog main #animate > div:nth-of-type(1) article > div div a {
        display: block;
        border: 3px solid tomato;
        border-radius: 50%;
        width: 16px;
        padding: 9px;
        margin: 0 auto; }
      #animate > div:nth-of-type(1) div div h2 {
        font-weight: 500;
        padding: 0 9px;
        text-align: center; }
      #animate > div:nth-of-type(1) div div p {
        padding: 0 9px 9px 9px;
        line-height: 1.6em; }
      #animate > div:nth-of-type(1) div div a {
        display: block;
        text-align: center;
        text-decoration: none;
        color: #007bff;
        border: 3px solid tomato;
        border-radius: 3px;
        padding: 9px;
        margin: 9px; }
    #animate > div:nth-of-type(1) div div:hover {
      transform: rotateX(0deg); }
#animate > div:nth-of-type(2) {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3em;
  padding: 3em; }
  @media only screen and (max-width: 990px) {
    #animate > div:nth-of-type(2) {
      grid-template-columns: 1fr; } }
  #animate > div:nth-of-type(2) > div:first-child {
    perspective: 900px; }
    #animate > div:nth-of-type(2) > div:first-child div {
      background-color: #fff;
      padding: 9px;
      border-radius: 3px;
      box-shadow: 0 20px 27px -20px; }
      #animate > div:nth-of-type(2) > div:first-child div form textarea {
        display: block;
        border: none;
        font-size: 1em;
        font-weight: 300;
        outline: none;
        width: 100%;
        line-height: 25px;
        background-color: #dc3545;
        color: white;
        border-radius: 3px; }
      #animate > div:nth-of-type(2) > div:first-child div form input, #animate > div:nth-of-type(2) > div:first-child div body #header nav form button, body #header nav #animate > div:nth-of-type(2) > div:first-child div form button, #animate > div:nth-of-type(2) > div:first-child div body #header form select, body #header #animate > div:nth-of-type(2) > div:first-child div form select, #animate > div:nth-of-type(2) > div:first-child div #contact main form textarea, #contact main #animate > div:nth-of-type(2) > div:first-child div form textarea {
        display: block;
        border: none;
        font-size: 1em;
        font-weight: 300;
        outline: none;
        width: 100%;
        line-height: 25px;
        background-color: transparent;
        padding: 9px 0;
        margin: 9px 0;
        border-bottom: 3px solid #333; }
      #animate > div:nth-of-type(2) > div:first-child div form button {
        display: block;
        border: none;
        font-size: 1em;
        font-weight: 300;
        outline: none;
        width: 100%;
        padding: 9px;
        margin: 9px 0;
        border-radius: 3px;
        color: white;
        background-color: #dc3545;
        text-shadow: 3px 3px 3px #444;
        box-shadow: 0 13px 22px -9px #444;
        cursor: pointer; }
      #animate > div:nth-of-type(2) > div:first-child div form button:hover {
        text-shadow: none;
        box-shadow: none; }
    #animate > div:nth-of-type(2) > div:first-child .animate {
      animation: fadeOut 3s; }
@keyframes fadeOut {
  0% {
    transform: rotateX(0deg) translateY(0px) scale(1); }
  9% {
    transform: rotateX(60deg) translateY(0px) scale(1); }
  30%,39% {
    transform: rotateX(60deg) translateY(-900px) scale(0); }
  90% {
    transform: rotateX(30deg) translateY(0px) scale(1); }
  100% {
    transform: rotateX(0deg) translateY(0px) scale(1); } }
  #animate > div:nth-of-type(2) > div:last-child {
    position: relative;
    transform-style: preserve-3d;
    transform: perspective(3000px); }
    #animate > div:nth-of-type(2) > div:last-child div {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 300px; }
      #animate > div:nth-of-type(2) > div:last-child div div {
        border-radius: 9px;
        box-shadow: 0 13px 22px -9px #444;
        background-color: blue; }
        #animate > div:nth-of-type(2) > div:last-child div div form input, #animate > div:nth-of-type(2) > div:last-child div div body #header nav form button, body #header nav #animate > div:nth-of-type(2) > div:last-child div div form button, #animate > div:nth-of-type(2) > div:last-child div div body #header form select, body #header #animate > div:nth-of-type(2) > div:last-child div div form select, #animate > div:nth-of-type(2) > div:last-child div div #contact main form textarea, #contact main #animate > div:nth-of-type(2) > div:last-child div div form textarea {
          display: block;
          border: none;
          border-radius: 3px;
          outline: none;
          padding: 9px;
          margin: 9px;
          font-size: 1em;
          font-weight: 300; }
        #animate > div:nth-of-type(2) > div:last-child div div form span, #animate > div:nth-of-type(2) > div:last-child #blog main article > div div form a, #blog main #animate > div:nth-of-type(2) > div:last-child article > div div form a {
          display: block;
          text-align: center;
          font-size: 1em;
          padding: 9px;
          background-color: #dc3545;
          border-radius: 3px;
          cursor: pointer; }
    #animate > div:nth-of-type(2) > div:last-child div:first-child div {
      transform: rotateY(0deg); }
    #animate > div:nth-of-type(2) > div:last-child div:last-child div {
      transform: translate3d(0px, 0px, 0px) rotateX(-90deg); }
#animate > div:nth-of-type(3) {
  display: grid;
  grid-template-columns: 1fr minmax(460px, 600px) 1fr; }
  #animate > div:nth-of-type(3) div header {
    border-bottom: 2px solid #bababa;
    padding: 9px;
    background-color: white;
    text-align: center; }
    #animate > div:nth-of-type(3) div header span, #animate > div:nth-of-type(3) #blog main article > div header a, #blog main #animate > div:nth-of-type(3) article > div header a {
      padding: 9px;
      border-radius: 50%;
      background-color: #bababa;
      display: inline-block;
      cursor: pointer; }
    #animate > div:nth-of-type(3) div header span:first-child, #animate > div:nth-of-type(3) #blog main article > div header a:first-child, #blog main #animate > div:nth-of-type(3) article > div header a:first-child {
      background-color: tomato; }
  #animate > div:nth-of-type(3) div div {
    position: relative;
    transform-style: preserve-3d;
    perspective: 900px; }
    #animate > div:nth-of-type(3) div div div {
      width: 100%;
      box-shadow: 2px 20px 27px -8px #333;
      background-color: white;
      margin-bottom: 3em;
      animation-name: none;
      animation-fill-mode: forwards;
      animation-duration: 900ms; }
      #animate > div:nth-of-type(3) div div div form {
        display: grid;
        place-items: center;
        padding-bottom: 3em; }
        #animate > div:nth-of-type(3) div div div form label {
          font-size: 2em;
          color: tomato;
          text-align: center;
          line-height: 3em; }
        #animate > div:nth-of-type(3) div div div form input, #animate > div:nth-of-type(3) div div div body #header nav form button, body #header nav #animate > div:nth-of-type(3) div div div form button, #animate > div:nth-of-type(3) div div div body #header form select, body #header #animate > div:nth-of-type(3) div div div form select, #animate > div:nth-of-type(3) div div div #contact main form textarea, #contact main #animate > div:nth-of-type(3) div div div form textarea {
          display: block;
          min-width: 360px;
          line-height: 2em;
          border-radius: 3px;
          outline: none;
          margin: 19px 0;
          font-size: 1em;
          border: 3px solid #bababa; }
        #animate > div:nth-of-type(3) div div div form button {
          display: block;
          min-width: 369px;
          line-height: 3em;
          border-radius: 3px;
          outline: none;
          border: none;
          background-color: tomato;
          color: white;
          cursor: pointer;
          text-transform: uppercase; }
        #animate > div:nth-of-type(3) div div div form p {
          font-size: 1.3em;
          text-align: center;
          color: #bab; }
        #animate > div:nth-of-type(3) div div div form span, #animate > div:nth-of-type(3) #blog main article > div div div form a, #blog main #animate > div:nth-of-type(3) article > div div div form a {
          text-transform: uppercase;
          color: white;
          line-height: 2em;
          background-color: tomato;
          border-radius: 3px;
          cursor: pointer;
          outline: none;
          padding: 6px;
          font-size: 0.9em;
          text-align: center;
          min-width: 133px; }
    #animate > div:nth-of-type(3) div div .slideDown {
      animation-name: slideDown; }
@keyframes slideDown {
  0% {
    transform: scale(1) translateY(0); }
  99% {
    transform: scale(1) translateY(150%); }
  100% {
    transform: scale(0) translateY(150%); } }
    #animate > div:nth-of-type(3) div div #second-body-model {
      position: absolute;
      top: 0;
      left: 0;
      animation-name: none;
      animation-fill-mode: forwards;
      animation-duration: 900ms;
      transform-origin: top;
      transform: scale(0) rotateX(-90deg); }
    #animate > div:nth-of-type(3) div div .fadeIn {
      animation-name: fadeIn; }
@keyframes fadeIn {
  0% {
    transform: scale(0) rotateX(-90deg); }
  9% {
    transform: scale(1) rotateX(-90deg); }
  100% {
    transform: scale(1) rotateX(0deg); } }
    #animate > div:nth-of-type(3) div div div:nth-of-type(3) {
      display: none;
      position: absolute;
      top: 160px;
      background-color: yellow; }

#testimonials > div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3em;
  padding: 3em; }
  @media only screen and (max-width: 990px) {
    #testimonials > div {
      grid-template-columns: 1fr; } }
  #testimonials > div div {
    padding: 9px;
    background-color: white;
    box-shadow: 0 20px 27px -20px #000;
    border-radius: 6px;
    transform-origin: bottom;
    transform: rotateX(9deg); }
    #testimonials > div div span, #testimonials > div #blog main article > div a, #blog main #testimonials > div article > div a {
      display: block;
      border: 3px solid tomato;
      border-radius: 50%;
      padding: 9px;
      margin: 0 auto;
      width: 16px; }
    #testimonials > div div h2 {
      font-weight: 500;
      padding: 0 9px;
      text-align: center; }
    #testimonials > div div h3, #testimonials > div div h4 {
      padding: 0 9px 9px 9px;
      line-height: 1.6em;
      text-align: center; }

#profile {
  display: grid;
  grid-template-columns: auto auto; }
  @media only screen and (max-width: 990px) {
    #profile {
      grid-template-columns: auto;
      justify-content: center; } }
  #profile div h2 {
    color: #2F4F4F;
    font-size: 3em;
    font-family: monospace;
    margin-left: .1em; }
  #profile div button {
    border: none;
    padding: 9px;
    text-transform: capitalize;
    font-size: .9em;
    font-family: inherit;
    border-radius: 3px;
    color: #000;
    margin: 9px;
    box-shadow: 0px 12px 18px -8px #bababa; }
  #profile div form input, #profile div body #header nav form button, body #header nav #profile div form button, #profile div body #header form select, body #header #profile div form select, #profile div #contact main form textarea, #contact main #profile div form textarea {
    display: block;
    border: none;
    padding: 9px;
    text-transform: capitalize;
    font-size: .9em;
    font-family: inherit;
    border-radius: 3px;
    color: #000;
    margin: 9px;
    box-shadow: 0px 12px 18px -8px #bababa;
    -webkit-transition: box-shadow 800ms,background-color 800ms;
    -moz-transition: box-shadow 800ms,background-color 800ms;
    transition: transform 800ms,box-shadow 800ms,background-color 800ms;
    transform-origin: left;
    transform: rotateY(-8deg); }
  #profile div form input[type="submit"], #profile div body #header nav form button[type="submit"], body #header nav #profile div form button[type="submit"], #profile div body #header form select[type="submit"], body #header #profile div form select[type="submit"], #profile div #contact main form textarea[type="submit"], #contact main #profile div form textarea[type="submit"] {
    width: 50%; }
  #profile div form input[type="submit"]:hover, #profile div body #header nav form button[type="submit"]:hover, body #header nav #profile div form button[type="submit"]:hover, #profile div body #header form select[type="submit"]:hover, body #header #profile div form select[type="submit"]:hover, #profile div #contact main form textarea[type="submit"]:hover, #contact main #profile div form textarea[type="submit"]:hover {
    background-color: tomato;
    cursor: pointer; }
  #profile div form textarea {
    background-color: red;
    border-radius: 4px;
    line-height: 1.6em;
    padding: .4em;
    margin: .6em;
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 16px;
    border: none;
    color: #222; }
  #profile > div:nth-of-type(2) {
    display: flex; }
    @media only screen and (max-width: 990px) {
      #profile > div:nth-of-type(2) {
        display: block; } }

#game {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 33em; }
  #game div {
    perspective: 3000px;
    position: relative; }
    #game div .controler {
      position: absolute;
      left: 6em;
      bottom: 90px;
      width: 72px;
      height: 160px;
      border-radius: 9px;
      background-color: #ADD8E6;
      transform-origin: bottom;
      transform: rotateX(50deg) rotateY(1deg) rotateZ(60deg); }
      #game div .controler .assets {
        border: 9px solid black;
        border-radius: 9px;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        height: 150px; }
        #game div .controler .assets div {
          position: relative;
          width: 56px;
          height: 151px; }
          #game div .controler .assets div span:nth-child(1)::before, #game #blog main article > div .controler .assets div a:nth-child(1)::before, #blog main #game article > div .controler .assets div a:nth-child(1)::before, #game div .controler .assets div span:nth-child(1)::after, #game #blog main article > div .controler .assets div a:nth-child(1)::after, #blog main #game article > div .controler .assets div a:nth-child(1)::after {
            content: '1';
            padding: 3px 7px;
            margin: 3px;
            border-radius: 50%;
            background-color: yellow;
            color: yellow;
            cursor: pointer; }
          #game div .controler .assets div span:nth-child(2)::before, #game #blog main article > div .controler .assets div a:nth-child(2)::before, #blog main #game article > div .controler .assets div a:nth-child(2)::before, #game div .controler .assets div span:nth-child(3)::before, #game #blog main article > div .controler .assets div a:nth-child(3)::before, #blog main #game article > div .controler .assets div a:nth-child(3)::before, #game div .controler .assets div span:nth-child(4)::before, #game #blog main article > div .controler .assets div a:nth-child(4)::before, #blog main #game article > div .controler .assets div a:nth-child(4)::before, #game div .controler .assets div span:nth-child(5)::before, #game #blog main article > div .controler .assets div a:nth-child(5)::before, #blog main #game article > div .controler .assets div a:nth-child(5)::before, #game div .controler .assets div span:nth-child(2)::after, #game #blog main article > div .controler .assets div a:nth-child(2)::after, #blog main #game article > div .controler .assets div a:nth-child(2)::after, #game div .controler .assets div span:nth-child(3)::after, #game #blog main article > div .controler .assets div a:nth-child(3)::after, #blog main #game article > div .controler .assets div a:nth-child(3)::after, #game div .controler .assets div span:nth-child(4)::after, #game #blog main article > div .controler .assets div a:nth-child(4)::after, #blog main #game article > div .controler .assets div a:nth-child(4)::after, #game div .controler .assets div span:nth-child(5)::after, #game #blog main article > div .controler .assets div a:nth-child(5)::after, #blog main #game article > div .controler .assets div a:nth-child(5)::after {
            content: '1';
            background-color: #333;
            margin: 3px;
            padding: 4px 7px;
            border-radius: 50%;
            color: white;
            font-size: 9px;
            cursor: pointer; }
          #game div .controler .assets div span:nth-child(3)::before, #game #blog main article > div .controler .assets div a:nth-child(3)::before, #blog main #game article > div .controler .assets div a:nth-child(3)::before {
            content: '4'; }
          #game div .controler .assets div span:nth-child(4)::before, #game #blog main article > div .controler .assets div a:nth-child(4)::before, #blog main #game article > div .controler .assets div a:nth-child(4)::before {
            content: '7'; }
          #game div .controler .assets div span:nth-child(5)::before, #game #blog main article > div .controler .assets div a:nth-child(5)::before, #blog main #game article > div .controler .assets div a:nth-child(5)::before {
            position: absolute;
            bottom: -19px;
            left: 3px;
            content: '-'; }
          #game div .controler .assets div span:first-child, #game #blog main article > div .controler .assets div a:first-child, #blog main #game article > div .controler .assets div a:first-child {
            color: #333; }
          #game div .controler .assets div span, #game #blog main article > div .controler .assets div a, #blog main #game article > div .controler .assets div a {
            background-color: #333;
            color: white;
            font-size: 9px;
            cursor: pointer; }
          #game div .controler .assets div span:nth-child(5), #game #blog main article > div .controler .assets div a:nth-child(5), #blog main #game article > div .controler .assets div a:nth-child(5) {
            position: relative;
            top: 3px;
            padding: 3px 24px;
            margin: 3px 0;
            border-radius: 50%; }
          #game div .controler .assets div span:last-child, #game #blog main article > div .controler .assets div a:last-child, #blog main #game article > div .controler .assets div a:last-child {
            position: relative;
            top: 19px;
            padding: 3px 24px;
            border-radius: 50%; }
          #game div .controler .assets div span:nth-child(1)::after, #game #blog main article > div .controler .assets div a:nth-child(1)::after, #blog main #game article > div .controler .assets div a:nth-child(1)::after {
            background-color: red;
            color: red; }
          #game div .controler .assets div span:nth-child(2)::after, #game #blog main article > div .controler .assets div a:nth-child(2)::after, #blog main #game article > div .controler .assets div a:nth-child(2)::after {
            content: '3'; }
          #game div .controler .assets div span:nth-child(3)::after, #game #blog main article > div .controler .assets div a:nth-child(3)::after, #blog main #game article > div .controler .assets div a:nth-child(3)::after {
            content: '6'; }
          #game div .controler .assets div span:nth-child(4)::after, #game #blog main article > div .controler .assets div a:nth-child(4)::after, #blog main #game article > div .controler .assets div a:nth-child(4)::after {
            content: '9'; }
          #game div .controler .assets div span:nth-child(5)::after, #game #blog main article > div .controler .assets div a:nth-child(5)::after, #blog main #game article > div .controler .assets div a:nth-child(5)::after {
            position: absolute;
            bottom: -19px;
            left: 28px;
            content: '+'; }
        #game div .controler .assets div::after {
          position: absolute;
          right: -23px;
          bottom: -8px;
          content: '';
          padding: 9px;
          height: 150px;
          background-color: black;
          transform-origin: left;
          transform: rotateY(44deg);
          clip-path: polygon(-6.18% -2.76%, 65.8% -3.68%, 105.99% 5.47%, 86.31% 24.11%, 61.51% 56.94%, 92.58% 75.42%, 82.93% 98.94%, 0.89% 101.75%); }
    #game div .tv::before {
      position: absolute;
      left: 12px;
      top: 0;
      content: '';
      background-color: black;
      width: 416px;
      border-radius: 9px;
      padding: 17px;
      clip-path: polygon(-0.84% -30.87%, 102.36% -43.45%, 103.72% 20.61%, -6.1% 10.93%); }
    #game div .tv {
      position: relative;
      width: 430px;
      height: 293px;
      margin-top: 3em;
      transform-origin: bottom;
      transform: rotateY(-30deg); }
      #game div .tv .assets::before {
        position: absolute;
        left: -14px;
        bottom: -43px;
        content: '';
        padding: .9em;
        width: 401px;
        border-radius: 6px;
        background-color: black; }
      #game div .tv .assets {
        width: 401px;
        height: 257px;
        border-radius: 23px;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        border: .9em solid black; }
        #game div .tv .assets div:before {
          position: absolute;
          left: 68px;
          bottom: -43px;
          content: '';
          padding: 5px;
          width: 15px;
          border-radius: 30px;
          background-color: yellow; }
        #game div .tv .assets div {
          width: 382px;
          height: 236px;
          border-radius: 0px;
          border: .6em solid white;
          border-style: inset;
          background-color: #696969; }
        #game div .tv .assets div:after {
          position: absolute;
          left: 173px;
          bottom: -39px;
          content: '';
          padding: 3px;
          border-radius: 50%;
          background-color: blue; }
      #game div .tv .assets::after {
        position: absolute;
        left: 116px;
        bottom: -31px;
        content: '';
        padding: 3px;
        border-radius: 50%;
        background-color: red; }
    #game div .tv::after {
      position: absolute;
      right: -86px;
      bottom: -28px;
      content: '';
      padding: 3em;
      background-color: black;
      height: 228px;
      clip-path: polygon(-1.05% 2.63%, 43.67% 2.88%, 47.88% 19.9%, 98.68% 25.49%, 101.56% 54.37%, 55.61% 62.5%, 56.17% 86.35%, 7.04% 97.66%); }

#footer span:nth-child(1), #footer #blog main article > div a:nth-child(1), #blog main article > div #footer a:nth-child(1) {
  position: fixed;
  right: 30px;
  bottom: 30px;
  padding: 1em;
  cursor: pointer;
  background-image: url("svg/up-arrow.svg");
  background-size: cover; }
#footer span:nth-child(2), #footer #blog main article > div a:nth-child(2), #blog main article > div #footer a:nth-child(2) {
  visibility: visible;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white; }

.hidden {
  animation: fadeOut 600ms;
  animation-fill-mode: forwards; }

@keyframes fadeOut {
  100% {
    visibility: hidden;
    opacity: 0; } }

/*# sourceMappingURL=style.css.map */
